---
layout: base.njk
title: Transmission Archive
permalink: /archive/
---

<div class="page-grid">
  <div class="page-header">
    <h1>Transmission Archive</h1>
  </div>

  <div class="archive-list">
    {% for post in collections.posts %}
    <a href="{{ post.url | url }}" class="archive-item">
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <span class="archive-item-title">{{ post.data.title }}</span>
    </a>
    {% endfor %}
  </div>
</div>
