---
layout: base.njk
---
<main class="content">
  <article>
    <header>
      <h1>{{ title }}</h1>
      <div class="post-meta">
        <time datetime="{{ date }}">{{ date | dateFilter }}</time>
      </div>
    </header>
    {{ content | safe }}
  </article>
</main>
