---
layout: base.njk
title: Dashboard
---
<main class="content" id="main-content">
  {% if collections.posts.length > 0 %}
    {% for post in collections.posts.slice(0, 5) %}
      <article>
        <header>
          <h1><a href="{{ post.url | url }}">{{ post.data.title }}</a></h1>
          <div class="post-meta">
            <time datetime="{{ post.date }}">{{ post.date | dateFilter }}</time>
          </div>
        </header>
        <div class="prose">
          {{ post.templateContent | safe }}
        </div>
      </article>
    {% endfor %}
  {% else %}
    <p>No transmissions found. System standby.</p>
  {% endif %}
</main>

